/* Prevent scrolling of the body when the sidebar is open */
.no-scroll {
  overflow: hidden;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.sidebar {
  width: 400px;
  background-color: #252836;
  color: #fff;
  position: fixed;
  right: -400px;
  top: 0;
  height: 100vh;
  z-index: 3;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: right 0.3s ease;
  padding: 20px;
  padding-top: 10px;
  /* overflow-y: auto; */
}

.sidebar.active {
  right: 0;
}

.sidebar_head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.sidebar_head-title {
  font-size: 26px;
  font-weight: 600;
}

.sidebar_head-clear-all {
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
}

.icon-cart-close {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.sidebar__list {
  flex-grow: 1;
  overflow-y: auto;
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
}

.sidebar__list-head {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #444;
}

.sidebar__list-col1 {
  width: 25%;
}

.sidebar__list-col2 {
  width: 50%;
}

.sidebar__list-col3 {
  width: 25%;
  text-align: end;
}

.sidebar__list-cart {
  overflow-y: auto;
  max-height: calc(100vh - 170px);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar__list-cart::-webkit-scrollbar {
  display: none;
}

.sidebar__action {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #444;
  position: sticky;
  bottom: 0;
  background-color: #252836;
  /* padding-bottom: 20px; */
}

.sidebar__action .btn-checkout {
  background-color: #ea7c69;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.sidebar__action .btn-checkout:hover {
  background-color: #ec4e32;
}

.sidebar__action-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100vw;
  }
}
