.wrap-filter {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.wrap-filter__options {
  display: flex;
}
.wrap-filter__select {
  color: #fff;
  padding: 8px;
  background-color: #1f1d2b;
  border-radius: 8px;
  /* appearance: none;  */
}
.wrap-filter__title {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .wrap-filter {
    flex-direction: column;
  }
  .wrap-filter__options {
    justify-content: center;
  }
}
